.button1 {
	background-color: #d1a86e;
	color: black;
	border: 2px solid #835a20;
	/* padding: 16px 32px; */
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
}

.button1:hover {
	background-color: #a37a40;
	color: white;
}

body {
	text-align: center;
	font-size: 30px;
	background-color: #c59c62;
	background-repeat: repeat;
}

li {
	list-style-position: inside;
}

#current-guess {
	position: absolute;
	font-size: 50px;
}

.hangman {
	background-color: black;
	position: absolute;
}

#hangman-container {
	position: absolute;
	top: 35%;
	left: 60%;
	width: 200px;
	height: 200px;
	/* border: 1px solid black; */
}

#base {
	top: 190px;
	left:0px;
	width:100px;
	height: 10px;
}

#stand {
	top: 0px;
	left:50px;
	width:10px;
	height: 200px;
}

#hang {
	top: 0px;
	left:30px;
	width:120px;
	height: 10px;
}

#rope {
	top: 0px;
	left:150px;
	width:10px;
	height: 50px;
}

#head {
	top: 50px;
	left:130px;
	width:30px;
	height: 30px;
	background-color: transparent;
	border: 10px solid black;
	border-radius: 50%;
}

#body {
	top: 90px;
	left:150px;
	width:10px;
	height: 65px;
}

#arm1 {
	top: 100px;
	left:135px;
	width:10px;
	height: 40px;
	transform: rotate(60deg);
}

#arm2 {
	top: 100px;
	left:165px;
	width:10px;
	height: 40px;
	transform: rotate(-60deg);
}

#leg1 {
	top: 150px;
	left:140px;
	width:10px;
	height: 40px;
	transform: rotate(30deg);
}

#leg2 {
	top: 150px;
	left:160px;
	width:10px;
	height: 40px;
	transform: rotate(-30deg);
}

#guess {
	position: absolute;
	top:80%;
	left: 45%;
}

#id {
	
}